body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-image: url('/ImageIcons/templateBg.png');
    font-size: 12px !important;
    font-family: Verdana, Helvetica, sans-serif !important
}
.header-container {
    width: 1000px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 45px;
    position: relative
}
.dropdown-container {
    background-color: #f5f5f5;
    border-radius: 5px;
    border-bottom: 1px solid #ddd;
    float: right;
    position: relative;
    cursor: pointer;
    margin-top: 5px;
    height:40px

}

.dropdown-box {
    display: flex !important;
    flex-direction: row;
    padding: 5px;
    line-height: 25px
}

.dropdown-box:hover {
      
    border-radius: 4px;
}

.user-info {
    margin-right: 8px;
    color: #666;
    display: flex;
    align-items: center;
    color: #199ad6;
    line-height: 30px
}

.user-avatar {
    width: 20px;
    height: 20px;
    display:inline-block
}

.dropdown-icon {
    color: #666;
    font-size: 12px;
    display: flex;
    align-items: center;
    color: #199ad6
}

.dropdown-itemsBox {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 1000;
    border-bottom: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 100%;
    text-align: left;
    top: 100%; /* Position the hover panel just below the td */
    left: 0;
    white-space: nowrap;
}

.dropdown-container:hover .dropdown-itemsBox {
    display: block;
}

.dropdown-option {
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #eee;
}

.dropdown-option:last-child,.dropdown-option:last-child:hover {
    border-bottom: none;
    background-color: #199ad6;
    color: white
}

.dropdown-option:hover {
    background-color: #f8f9fa;
}
.manu-container {
    width: 100%;
    min-width:1000px;
    background-color: #199ad6;
    min-height:50px;
    margin:0 auto;
    margin-bottom:18px;
}
.lnk-page
{
    height:50px;
    display:flex;
    align-items:center;
    
}
.lnk-page a {
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0px 5px 0px 5px;
    margin-right:3px
}
.lnk-page a:hover
{
    background-color:white;
    color:black;
}
.cce-heading {
    background-color: #E3E2DB;
    height: 45px;
    padding: 8px;
    cursor: pointer
}
.cce-heading span {
    float: left;
    font-weight: bold;
    font-size: 20px;
    color: #535353
}
.cce-heading img
{
    float:right;
    align-items:center;
    padding-top:5px;
    width:25px
}
.detail-container {
    border: 1px solid #E3E2DB;
    background-color: white;
    border-top: none;
    padding-top: 10px;
    padding-bottom:15px
}
.room-data {
    margin: auto;
    border-collapse: separate;
    border-spacing: 0 15px;
}
.lbltd
{
    text-align:right;
    font-weight:bold;
    font-size:larger;
    padding-right:3px
}
.lbtn {
    text-decoration: none;
    font-size:14px;
    font-weight:200;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.main-content {
    
    flex: 1;
    margin: auto;
    width: 1000px;
    min-height:400px
}
.footer {
    width: 100%;
    margin-top: 15px;
    text-align:center
}
.ftrFields {
    border: 1px solid #7f9db9;
    height: 25px;
    width: 190px
}
.tblFilter {
    width: 100%;
    border-collapse: collapse;
    border-collapse: separate; /* Must be separate for border-spacing to work */
    border-spacing: 0 5px;
    font-size: 12px
}
.lbltd {
    text-align: right;
   
    padding-right: 5px;
    font-size: 12px
}
.btnReset {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 5px 20px;
}

.custom-button {
    font-family: Arial, sans-serif;
    font-size: 12px;
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    text-decoration: none
}
.message-dialog {
    width: 370px;
    background-color: #fff;
    border-radius: 8px;
    position: fixed;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    z-index: 1000;
    padding-bottom: 5px;
    box-sizing: border-box;
    border: 1px solid #199ad6;
    /* Hidden by default */
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #199ad6;
    color: white;
    height: 40px;
    padding: 0px 5px 0px 5px
}

.dialog-body {
    padding: 5px;
    padding-top: 10px;
    min-height: 110px;
}

.btn-close {
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

    .btn-close:hover {
        color: red;
    }

.modal-background {
    background-color: #F3F6FD;
    filter: alpha(opacity=70);
    opacity: 0.7; /* Semi-transparent black */
}
/* Search Button Style */
.search-button {
    background-color: #007bff; /* Blue */
    color: white;
    border: 1px solid #0056b3;
}

    .search-button:hover {
        background-color: #0056b3;
    }

.reset-button {
    background-color: white; /* Light Gray */
    color: black;
    border: 1px solid #adadad;
}

    .reset-button:hover {
        background-color: #e6e6e6;
    }

.footer-container
{
    margin:auto;
    width:1000px
}
.footer-container p
{
    text-align:center;
    font-size:14px;

}
.tblShowData th, .tblShowData td {
    border: 1px solid #ACA8A8 !important;
    padding: 8px;
}

.tblShowData th {
    background-color: #199ad6;
    color: white;
}
.tblShowData tr {
    background-color:white ;  
}

.tblShowData tr.rowControl:nth-child(odd) {
    background-color: #f2f2f2;
}

.tblShowData tr.rowControl:hover {
    background-color: #C3C3C3;
}

.pnlNoRecFound div {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    margin-top: 40px;
    background-color: #E3E2DB;
    height: 100px;
    align-items: center
}
.pageHeading {
    height: 50px;
    background-color: #E3E2DB;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-left: 5px;
    padding-right: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #535353
}
.success-box {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);  
    padding: 25px 50px;
    border: 2px solid black;
    font-size: 14px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}